* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #000;
}
.section-box {
  background-color: #ddd; 
  padding: 15px;
  height:1000px;
  margin-bottom: 30px;
}
.navbar-default {
  background-color: #ddd;
  border: 0px;
}
.navbar-collapse.collapse {
   display: none!important; 
}
.navbar-default .navbar-toggle {
  border-color: #000;
  border-width: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-brand {
  color: #000;
  font-size: 28px;
}
.navbar-nav {
  margin: 0px -15px;
}
ul.nav.navbar-nav {
  background: #fff;
  border: 1px solid #000;
}
ul.nav.navbar-nav li{
  border-bottom: 1px solid #000;
  text-align: center;
  color: #000;
  font-weight:600;
}
ul.nav.navbar-nav li:last-child{
  border-bottom: 0px solid #000;
}
.page-title h2{
  font-weight:bold;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .navbar-collapse.collapse.in {
    display: block!important; 
 }
 .section-box {
  height: auto;
}
}